body 
{
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #1e1e1e, #333333);
  color: #ffd700; 
}

h1 
{
  text-align: center;
  color: #ffd700; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.full-img {
  text-align: center;
  position: relative;
  margin: 20px auto; 
  max-width: 80%; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.displayed-img {
  max-width: 100%;
  max-height: 400px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.dark {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.thumb-bar {
  text-align: center;
  margin-top: 20px;
}

.thumb-bar img {
  width: 100px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

button {
  transition: transform 0.5s ease; 
  margin-right: 0; 
  margin-bottom: 20px; 
  background-color: #ffd700;
  color: #333333; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

